.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #111;
}

h1 {
font-style: unset;
font-family: Arial, Helvetica, sans-serif;
color: chocolate;
}

h2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: larger;
}

/*smartphone*/
.hero>img {
    width: 200px;
    border-top: 20%;
    margin-left: 40%;
  }

/*tablet*/
@media (min-width:768px){
  .hero>img {
    width: 200px;
    border-top: 20%;
    margin-left: 40%;
  }
}

/*pc*/
@media (min-width :992px){
  .hero>img {
    width: 200px;
    border-top: 20%;
    margin-left: 45%;
  }
}

article {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 90px;
}