.para {
    color:black
}

.para-external {
  color: bisque;
  background-color: brown;
  width: 300px;
  border: 1px solid;
}

body {background-color: lightpink;
}

  .open {
    height: 100px;
    width: 50%;
    text-indent: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
  }
  .p1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
 .para1 {
    margin: 5px;
    padding: 5px;
    list-style-type: lower-greek;
    font-size: 2,5em;
    font-weight: bold;
    font-style: normal;
    border: 1px saddlebrown;
    overflow: hidden;
    background-color: burlywood;   
 }

 .nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #111;
}